.movie__row {
  display: flex;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.movie {
  width: 300px;
  margin: 0 2px;
  z-index: 5;
}

.poster__img {
  height: 500px;
}

.asd {
  background-color: rgba(19, 19, 19);
}

.movies {
  position: relative;
  padding-left: 60px;
  top: -15rem;
}

.movies h1 {
  color: white;
  padding-bottom: 10px;
}
